@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import "./typography-0.4.0.css"
}

body {
	font-family: "Lato";
}

h1,
h2,
h3 {
	font-family: "Arvo";
}

h1 {
	&.content {
		&::after {
			content: ".";
			@apply text-bzyellow ml-0.5;
		}
	}
}
